@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap");
* {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
}

.navbar-collapse {
  border: none;
  position: absolute;
  right: 20px;
}

.navbar-default {
  background-image: none;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-default .navbar-nav li a {
  color: #4d4d4d;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.navbar-default .navbar-nav li:after {
  content: '';
  display: block;
  background-color: #878787;
  height: 2px;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-default .navbar-nav li:hover:after {
  width: 100%;
}

.banner {
  background-image: url(../images/banner_02.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.block {
  font-weight: 500;
}

.block h1 {
  font-size: 90px;
  color: #4d4d4d;
  margin-top: 180px;
}

.block p {
  color: #878787;
  font-size: 22px;
  margin-bottom: 32px;
}

.block--btn {
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
  width: 160px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  color: #4d4d4d;
  background-color: transparent;
  border: 1px solid #4d4d4d;
}

.block--btn:hover {
  text-decoration: none;
  color: #4d4d4d;
  background-color: #fff;
  border: 1px solid #fff;
}

.block--img img {
  width: 100%;
}

.about {
  padding-top: 109px;
  padding-bottom: 124px;
}

.about .about-left {
  padding-top: 66px;
}

.about .about-left h2 {
  color: #7b7b7b;
  font-weight: 700;
  font-size: 46px;
  text-transform: uppercase;
}

.about .about-left h2:before {
  content: '';
  display: block;
  margin-bottom: 20px;
  width: 10%;
  height: 4px;
  background-color: #7b7b7b;
}

.about .about-left p {
  font-size: 16px;
  color: #4d4d4d;
  margin-bottom: 37px;
}

.about .about-right img {
  width: 100%;
}

.topic {
  color: #7b7b7b;
  font-weight: 700;
  font-size: 46px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 0;
}

.topic:before {
  content: '';
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 50%;
  left: 50%;
  display: block;
  width: 50px;
  height: 4px;
  background-color: #7b7b7b;
  bottom: 55px;
}

.services {
  background-color: #f6f6f6;
  padding-top: 119px;
  padding-bottom: 114px;
  text-align: center;
  font-size: 30px;
}

.services .services-pic img {
  margin-top: 82px;
  overflow: hidden;
}

.services .services-pic p {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0;
}

.skills {
  padding-top: 117px;
  padding-bottom: 126px;
  text-align: center;
}

.skills img {
  margin-top: 62px;
  width: 100%;
}

.portfolio {
  background-color: #f6f6f6;
  padding-top: 126px;
  padding-bottom: 108px;
  overflow: hidden;
}

.portfolio .topic__portfolio {
  margin-bottom: 46px;
}

.portfolio img {
  margin-bottom: 30px;
}

.portfolio .portfolio__btn {
  text-align: center;
}

.portfolio .portfolio__btn a {
  border: none;
}

@-webkit-keyframes jump-btn {
  0% {
    bottom: 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    bottom: 50px;
    -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
            box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
  }
}

@keyframes jump-btn {
  0% {
    bottom: 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    bottom: 50px;
    -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
            box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
  }
}

.shadow__btn {
  -webkit-animation: jump-btn 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;
          animation: jump-btn 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;
}

.testi {
  padding-top: 126px;
  padding-bottom: 122px;
}

.testi .owl-carousel {
  margin-top: 59px;
  border: 1px solid #212121;
  padding: 76px 30px 50px 120px;
}

.testi__pic {
  display: inline-block;
  width: 159px;
  height: 159px;
}

.testi__text {
  display: inline-block;
  max-width: 570px;
  margin-left: 32px;
  text-transform: uppercase;
}

.testi__text h4 {
  font-size: 30px;
  color: #454545;
  margin: 0;
  font-weight: 500;
}

.testi__text span {
  font-size: 12px;
  color: #454545;
  font-style: italic;
}

.testi__text p {
  color: #919191;
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 0;
}

.owl-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.owl-dot {
  outline: none;
}

.owl-dot span {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #212121;
  background-color: transparent;
  margin-right: 4px;
}

.owl-dot.active span {
  display: inline-block;
  margin-right: 4px;
  width: 13px;
  height: 13px;
  border: 1px solid #212121;
  background-color: #212121;
}

.advantage {
  padding-top: 52px;
  padding-bottom: 65px;
  background-color: #f6f6f6;
  text-align: center;
  margin-bottom: 153px;
}

.advantage span {
  display: block;
  font-size: 30px;
  font-weight: 500;
}

.advantage p {
  font-size: 22px;
  text-transform: uppercase;
}

.say {
  background-image: url(../images/footer__luis_03.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 144px;
  padding-bottom: 38px;
}

.say .topic__say {
  color: #f2f2f2;
}

.say .topic__say::before {
  background-color: #c1c1c1;
}

.say form {
  margin-top: 69px;
  text-align: center;
}

.say form input {
  height: 56px;
  margin-bottom: 29px;
  margin-left: 0;
  border-radius: 0;
}

.say form textarea {
  resize: none;
  border-radius: 0;
}

.say form .say__btn {
  margin-top: 29px;
  margin-bottom: 57px;
}

.say form .say__btn .btn {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 0;
}

.say form .say__btn .btn:after {
  content: '\f1d8';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  margin-left: 7px;
  background-color: #ffffff;
}

footer {
  border-top: 1px solid #ffffff;
  margin-top: 32px;
}

footer .say__social {
  margin-top: 32px;
  display: inline-block;
}

footer .say__social a {
  background-color: #ffffff;
  width: 27px;
  line-height: 27px;
  text-align: center;
  color: #4d4d4d;
  text-decoration: none;
  margin-right: 7px;
}

footer .say__social .fa-facebook-f:hover {
  color: #ffffff;
  background-color: #3b5998;
}

footer .say__social .fa-twitter:hover {
  color: #ffffff;
  background-color: #00acee;
}

footer .say__social .fa-linkedin-in:hover {
  color: #ffffff;
  background-color: #0e76a8;
}

footer .say__social .fa-google-plus-g:hover {
  color: #ffffff;
  background-color: #dd4b39;
}

footer .say__social .fa-behance:hover {
  color: #ffffff;
  background-color: #053eff;
}

footer .say__social .fa-dribbble:hover {
  color: #ffffff;
  background-color: #ea4c89;
}

footer .say__year {
  display: inline-block;
  margin-top: 32px;
}

footer .say__year p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */